/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-family: Helvetica;
}

div {
	box-sizing: border-box;
	position: relative;
	background-color: white;
}

p {
  width: auto;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 10;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #999999;
  font-family: Helvetica;
  font-weight: bold;
  color: black;
  border: 1px solid black;
}

section {
	position: absolute;
	margin-bottom: 0px;
	margin-top: 11px;
	height: auto;
	width: 200px;
	top: 0px;
	right: 11px;
	overflow-wrap: break-word;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	font-weight: bold;
	font-size: 18px;
	font-family: Helvetica;
	text-align: center;
}

.chicken {
	background-color: #d59898;
}

.beef {
	background-color: #c14543;
}

.sushi {
	background-color: #e5d198;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
}

/********** Mobile devices only **********/
@media (max-width: 767px) {
  .col-sd-12 {
    float: left;
  }
  .col-sd-12 {
    width: 100%;
  }
}

</style>